* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
}

.container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.login-form h2,
.register-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form form,
.register-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.login-form label,
.register-form label {
  margin-bottom: 10px;
}

.login-form input[type='text'],
.login-form input[type='password'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form button[type='submit'],
.register-form button[type='submit'] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button[type='submit']:hover,
.register-form button[type='submit']:hover {
  background-color: #3e8e41;
}
